/* -------------------------------
   Card Container
------------------------------- */
.amiibo-card {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.amiibo-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background: #f5f5f5;
}

/* -------------------------------
   Card Image
------------------------------- */
.amiibo-card img {
  width: 140px;
  height: 220px;
}

/* -------------------------------
   Responsive Styles
------------------------------- */
@media (max-width: 780px) {
  .amiibo-card {
    padding: 0.5rem;
  }

  .amiibo-card img {
    width: 80px;
    height: 120px;
  }
}
