/* -------------------------------
   Header Classes
------------------------------- */

#header {
      /* position: sticky; */
  top: 0;
  background: rgb(211, 59, 59);
  padding: 15px;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  color: white;
}

#header p {
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
}

#header-links {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

#header-links a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: 0.1s;
}

#header-links a:hover {
    color: rgb(253, 255, 121);
    transform: scale(1.03);
    text-shadow: 1px 2px 4px black;

}