/* -------------------------------
   Global Styles
------------------------------- */
body {
	margin: 0;
	padding: 0;
}

main {
	min-height: 67.2vh;
}

h1,
h2,
h3,
a,
p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
	text-align: center;
}

/* -------------------------------
   Modal Styles
------------------------------- */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.modal-content {
	background: white;
	padding: 2rem;
	border-radius: 12px;
	max-width: 400px;
	width: 90%;
	position: relative;
}

.modal-close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	border: none;
	background: none;
	font-size: 1.2rem;
	cursor: pointer;
}

/* -------------------------------
   Body Content
------------------------------- */

.collection-body {
	padding-inline: 10rem;
}

.amiibo-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 1rem;
	margin-top: 2rem;
}

.delete-collection {
	background: darkred;
	color: white;
	padding: 8px 16px;
  font-size: 18px;
  margin-top: 4vh;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* -------------------------------
   Responsive Styles
------------------------------- */
@media (max-width: 1000px) {
	.amiibo-grid {
		padding-inline: 1rem;
	}
}
