---
import BaseLayout from "../layouts/BaseLayout.astro";
import AmiiboList from "../components/AmiiboList.astro";
import AmiiboModal from "../components/AmiiboModal.astro";
---

<BaseLayout>
  <h1>Home page</h1>

  <!-- Amiibo cards loaded from AmiiboList component -->
  <AmiiboList />

  <!-- Hidden modal for Amiibo details -->
  <AmiiboModal />
</BaseLayout>
