---
import BaseLayout from "../layouts/BaseLayout.astro";
import AmiiboCard from "../components/AmiiboCard.astro";
import AmiiboModal from "../components/AmiiboModal.astro";

// API call
const res = await fetch("https://amiiboapi.com/api/amiibo/?page=1&type=figure");
const json = await res.json();
const amiibos = json.amiibo.slice(0, 60);

interface amiibo {
	amiiboSeries: string;
	character: string;
	gameSeries: string;
	head: string;
	image: string;
	name: string;
	release: {
		au?: string;
		eu?: string;
		jp?: string;
		na?: string;
	};
	tail: string;
	type: string;
}
---

<BaseLayout>
	<h1>Home page</h1>
	<div class="amiibo-grid">
		{amiibos.map((amiibo: amiibo) => <AmiiboCard amiibo={amiibo} />)}
	</div>

	<AmiiboModal />
</BaseLayout>
