---
import BaseLayout from "../layouts/BaseLayout.astro";
import AmiiboList from "../components/AmiiboList.astro";
import AmiiboModal from "../components/AmiiboModal.astro";
---

<BaseLayout>
  <h1>My Collection</h1>
  <hr/>
  <AmiiboList />
  <AmiiboModal />
</BaseLayout>
