---

import BaseLayout from "../layouts/BaseLayout.astro";
import AmiiboUnlock from "../components/AmiiboUnlock.astro";

---

<BaseLayout>
    <h1>Unlock new Amiibos</h1>
    <hr>

    <AmiiboUnlock>
</BaseLayout>