---
// - Site Footer Component -
// Displays information about data sources and technologies used

import "../styles/footer.css";
---

<footer class="site-footer">
	<p>
		Data obtained from <a
			href="https://amiiboapi.com/"
			title="Amiibo API documentation"
			target="_blank"
			rel="noopener noreferrer">Amiibo API</a
		>
	</p>
	<p>
		Proyect developed with <a
			href="https://astro.build/"
			title="Astro page"
			target="_blank"
			rel="noopener noreferrer">Astro</a
		>
	</p>
</footer>
