---
import "../styles/header.css";
---

<header id="header">
	<p>Amiibo Finder</p>

	<div id="header-links">
		<a href="/" title="See my Amiibos">Collection</a>
		<a href="/unlock" title="Unlock new Amiibos">Unlock</a>
	</div>
</header>
