---
import "../styles/header.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h1>Amiibo Finder</h1>
        <div id="header-links">
            <a href="#" title="See my Amiibos">My Amiibos</a>
            <a href="#" title="Unlock a new Amiibo">Unlock Amiibo</a>
        </div>
    </div>
</body>
</html>