---
import Header from "../components/header.astro";
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Amiibo Finder</title>
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>
